.imgg{ 
		margin-right: 100px;
	
}
.btn{
	background-color:white;
	
	box-shadow: inset 5px 9px 15px -3px rgba(0,0,0,0.1);
	padding-top:25px;
	font-size:20px;
	padding-left:-90px;
	padding-left:110px;
	border-radius:5rem;
	transition:0.2s ease;
	border-style:none;
}
.ba{
	border-style: ridge;
	border-color: white;
	border-radius: 100px;
}
.container1{
		padding-left:22%;
}
.tn20{
	margin-left: 15%;
	padding-right: 4%;
	
}
.tn22{	
	padding-right: 4%;
}
.grid-item2{
	align-items: center;	
	
}

.image1{
		border-style:none;
		border-radius: 20px;
		margin-left: -120px;
		margin-right: 20px;
		padding-right: 5px;
}

.image4{
		border-style:none;
		border-radius: 20px;
		padding-right: 5px;
		margin-right: 20px;
		
}

.image2{
		border-style:groove;
		border-radius: 20px;
		padding-right: 5px;
		margin-right: 20px;
}

.image3{
		border-style:groove;
		border-radius: 20px;
		padding-right: 5px;
		margin-right: 20px;
}
.fntt{
	padding-left: 80px;
	
}

.image5{
		border-style:none;
		border-radius: 20px;
		margin-left: -120px;
		margin-right: 20px;
		margin-bottom: -60px;
		padding-right: 5px;
}

.image6{
		border-style:groove;
		margin-top:60px;
		border-radius: 20px;
		padding-right: 5px;
		margin-right: 20px;
}

.icon-images{
margin-left:-6px;
}
.content-images{
margin-top:;
}
.link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;  
  background-color: transparent;
  text-decoration: underline;
}
.list{
list-style-type:none;
color:black;
}
ul.horizontal-list { 
      list-style-type: none; 
      margin: 0; 
      padding: 0; 
      display: flex;  
} 
  
ul.horizontal-list li { 
margin-right: 40px; 
} 
.images{
border-radius:20px;
}
.ten{
	color:black;
}